@using BoardGameRatings.WebSite.Controllers
@model BoardGameRatings.WebSite.ViewModels.CategoriesViewModel

@{
    ViewData["Title"] = "Categories";
}

<div>
    <table class="table table-striped table-bordered table-responsive">
        <thead>
        <tr>
            <th class="head">
                <a class="btn btn-default" href="@Url.RouteUrl(CategoriesController.BuildAddActionRouteValues())">Description</a>
            </th>
            <th></th>
        </tr>
        </thead>
        @foreach (var game in Model.Categories)
        {
            <tr>
                <td class="col-md-3">
                    <a href="@Url.RouteUrl(CategoriesController.BuildEditActionRouteValues(game.Id))">@game.Description</a>
                </td>
                <td class="col-md-1 text-center">
                    <a href="@Url.RouteUrl(CategoriesController.BuildRemoveActionRouteValues(game.Id))">
                        <i class="fa fa-trash" style="color: red"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>