@using BoardGameRatings.WebSite.Controllers
@model BoardGameRatings.WebSite.ViewModels.GameViewModel

@{
    ViewData["Title"] = @Model.Name;
}

<div class="col-md-6">
    @using (Html.BeginForm(GameController.BuildSaveActionRouteValues(@Model)))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="10" cols="60"></textarea>
        </div>

        <input type="hidden" asp-for="Id"/>

        <div class="btn-group">
            <input type="submit" value="Save" class="btn btn-success"/>
            <a href="@Url.RouteUrl(GamesController.BuildIndexActionRouteValues())" class="btn btn-default">Cancel</a>
        </div>
    }
</div>

<div>
    @Html.Partial("_ElectedCategory")
</div>